<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8">
<title>个人中心</title>
<script type="text/javascript" src="static/js/vue.js"></script>
</head>
<body>
	<h1>欢迎你：<div th:text="${name}"></div></h1>
	<div id="app">
		<input type="text" v-model:value="message"> 
		<input type="text" :value="message2">
		<input type="text" :value="message3"> {{ message }}
	</div>
	<script>
		var app = new Vue({
			el : '#app',
			data : {
				message : 'Hello SpringMvc',
				message2 : 'Hello thymeleaf',
				message3 : 'Hello tomcat-embed-core8'
			}
		})
	</script>
</body>
</html>